@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: rgba(237, 238, 239, 1);
  color: $base-font-color;
  font-family: $base-font-family;
  @include outer-container;
  max-width: 1200px;
  min-width: 450px;
}
img{
  width: 100%;
}

#post_container{
  @include span-columns(8);
  @include shift(2);
}
.js_post_list{
  @include span-columns(8 of 8);
  padding-left: 0px;
}

.js_item_box{
  background-color: white;
  margin-top: 0px;
  padding-top: 10px;
}
.js_post{
  list-style: none;
  background-color: rgba(224, 225, 226, 1);
  margin-bottom: 30px;
  padding: 50px;
}
.hidden{
  display: none;
}
.content{
  background-color: white;
  height: 300px;
}
.js_img,
.js_cap{
  display: block;
  width: 85%;
  margin: 10px auto;
  padding-top: 10px;
  position: relative;
  top: 58px;
  height: 50px;
}
.js_toggle_hidden{
  margin-left: 50px;
  background-color: $blue;
  border: none;
}
.js_toggle_hidden:active{
  border: none;
}
.createPost{
  background-color: $blue;
}
.create_span{
  position: relative;
  float: right;
  margin-right: 125px;
  color: white;
  bottom: -55px;
}
.js_cancel,
.submit_post{
  padding: 15px;
  border-radius: 10%;
}
.js_cancel{
  background-color: rgba(182, 182, 182, 1);
}
.submit_post{
  background-color: rgba(85, 162, 85, 1);
}
.js_editImage,
.js_editCaption{
  width: 100%;
  height: 35px;
  border: 2px solid rgba(182, 182, 182, 1);
}
