<button class = "js_toggle_hidden"><i class="fa fa-plus-circle fa-2x"></i></button>
<form class ="content hidden">
<input class ="js_img" type="text" name="image" placeholder= "image url" value="">
<input class ="js_cap" type="text" name="caption" placeholder="caption" value="">
<span class="create_span">
<button class ="cancel js_cancel">Cancel</button>
<button class="submit_post" type="submit"> <i class="fa fa-picture-o"></i> Add Image</button>
</span>
</form>
