<button class = "js_toggle_hidden"><i class="fa fa-plus-circle fa-2x"></i></button>
<form class ="content">
<input class ="js_img" type="text" name="image" placeholder= "image url" value="">
<input class ="js_cap" type="text" name="caption" placeholder="caption" value="">
<span>
<button class ="cancel">Cancel</button>
<input type="submit" name="submit" value="Add Image">
</span>
</form>
